/lab-project/inventorysystem/target/classes/bg/fmi/uni/inventorysystem/*.class
/lab-project/inventorysystem/target/classes/bg/fmi/uni/inventorysystem/model/*.class
/lab-project/inventorysystem/target/classes/bg/fmi/uni/inventorysystem/repository/*.class
